<div class="login-page">
  <div class="login-box">
    <form class="field-box">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Електронна адреса</mat-label>
        <input matInput type="email" required autocomplete="email">
      </mat-form-field>
      <div class="password-box">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
          <mat-label>Пароль</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" required autocomplete="current-password">
          <!-- Toggle button for password visibility -->
          <button mat-icon-button matSuffix (click)="clickEvent()"
                  [attr.aria-label]="hidePassword ? 'Показати пароль' : 'Сховати пароль'" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            asd
          </button>
        </mat-form-field>
      </div>
      <mat-checkbox>Запам'ятати мене</mat-checkbox>
      <div class="buttons">
        <a mat-button color="primary">Зареєструватися</a>
        <button type="submit" mat-flat-button color="primary">Увійти</button>
      </div>
    </form>
  </div>
</div>
