<div class="register-page">
  <div class="register-box">
      <div class="title">
          Реєстрація за кодом
      </div>
      <form class="field-box">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
          <mat-label>Код доступу</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
          <mat-label>Електронна пошта</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <div class="buttons">
          <a mat-stroked-button routerLink="/login">Назад</a>
          <button type="submit" mat-flat-button color="primary">Зареєструватися</button>
        </div>
      </form>
  </div>
</div>
