

.register-page{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100hv;
  height: 100vh;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10px;
  align-content: flex-start;
  padding: 50px;
  height: auto;
  width: 800px;
  border-radius: 25px;
}

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
}

.field-box {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
